@keyframes city-hover {
  from {
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
  to {
    background-color: #eae6e8;
    border-bottom: 1px solid #66afe9;
  }
}

@keyframes city-blur {
  from {
    background-color: #eae6e8;
    border-bottom: 1px solid #66afe9;

  }
  to {
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
}

@keyframes block-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}