.current-weather {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  
  h2 {
    text-transform: capitalize;
    padding-bottom: 2rem;
  }
  
  .current-weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    
    .loader {
      font-size: 2rem;
      padding-top: 2rem;
    }
    
    input {
      width: 300px;
      height: 34px;
      padding: 6px 12px;
      display: block;
      font-size: 18px;
      line-height: 1.42857143;
      color: $input_font-color;
      background-color: $input_background-color;
      background-image: none;
      border: 1px solid $border_bottom-color;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px $input_shadow-color;
      box-shadow: inset 0 1px 1px $input_shadow-color;
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    .weather-data {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      padding-top: 2rem;
      text-align: center;
      
      .weather-data-location,
      .weather-data-temp,
      .weather-data-desc {
        padding: 1rem;
      }
      
      .weather-data-desc {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        img {
          width: 128px;
          height: auto;
        }
      }
      
      .weather-data-date {
        font-size: 1.5rem;
      }
    }
  }
}
