$border_bottom-color: #ccc;
$border_bottom-color-hover: #66afe9;
$background-hover-color: #eae6e8;
$cities_font-color: #1468A0;
$input_background-color: #fff;
$input_font-color: #555;
$input_shadow-color: rgba(0,0,0,.075);